<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="SentinelGuard: Integrated Real-time HTTP Intrusion Detection">
    <title>SentinelGuard Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="logo">
            <img src="../static/img/logo.svg" alt="Logo">
        </div>
        <div class="title">
            <!-- <h2>SentinelGuard <span class="dashboard">dashboard</span></h2> -->
            <p class="version">v0.0.1</p>
        </div>
        <div class="status">
            <button class="btn">{{ threads }} threats</button>
            <button class="btn">0 filters <span class="close">❎</span></button>
        </div>
        <nav class="nav">
            <ul id="filter-list">
                {% for filter in intrusion_rules %}
                    <li>
                        <a class="filter" href="#" title="{{ filter }}">{{ filter }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="main">
        <header>
            <div class="right">
                <button class="btn btn-header">
                    <a href="https://github.com/zhsh9/SentinelGuard">
                        <i class="fab fa-github"></i>
                        zhsh9/SentinelGuard
                    </a>
                </button>
                <button class="btn btn-header">sponsor</button>
                <button class="btn btn-header">Connecting</button>
            </div>
        </header>
        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Request</th>
                    <th>Status Code</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tbody>
                {% if not has_cache %}
                    <tr>
                        <td colspan="5" class="centered">
                            <div class="spinner"></div>
                            Waiting for events...
                        </td>
                    </tr>
                {% else %}
                    {% for record in cache_content %}
                        <tr>
                            <td>{{ record['time'] }}</td>
                            <td>{{ record['tag'] }}</td>
                            <td>{{ record['request'] }}</td>
                            <td>{{ record['status'] }}</td>
                            <td><p>{{ record | tojson }}</p></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>